<!DOCTYPE html>
<html>
<head>
    <title>Webpage Camaira</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/basehome.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body background = "../static/img/baru1.png">


  <ul>
    <li style="float:right"><a class="active btn"  href="{{ url_for('about') }}"  >About</a></li>
    <div class = "gbr">
      <img src = "../static/img/camaira.jpg" alt ="camaira" width="25%" height="5%"> 
      </div>      
  </ul>








<div class ="Choose">
<p class="lead "></p>
  Choose The Feature You Need <br> and Upload Your Image Below!
</div>

<div class="row text-center">

<!--<div class="row">
    <div class="column">
      <div class ="pilih">
        <p style="text-align:center;">Brighten Up Dark Image</p>
      </div>
    </div>

    <div class="column">
      <div class ="pilih">
        <p style="text-align:center;">Enhance Image Resolution<p>
      </div>
    </div>    
</div>-->


<div class="row">
    <div class ="column">
      <img src = "../static/img/Picture1.png" alt ="Fitur 1" style = "width: 100%">
    </div>

    <div class ="columndua">
      <img src = "../static/img/Picture2.png" alt ="Fitur 2" style = "width: 100%">
    </div>
</div>

<div class="row">
  <div class ="column">
         
       <form id="upload-form1" action="/fiturpertama" method="POST" enctype="multipart/form-data">
          <input id="file-picker1" type="file" name="file" class="hidden" onchange="this.form.submit()">
          <label for="file-picker1" class="btn btn-lg btn-success">Select Image (raw)</label>
       </form>
  
 </div>


  <div class ="columndua"> 
     
       <form id="upload-form" action="/fiturkedua" method="POST" enctype="multipart/form-data">
          <input id="file-picker" type="file" name="file" accept="image/*" class="hidden" onchange="this.form.submit()">
          <label for="file-picker" class="btn btn-lg btn-success">Select Image (png/jpg/jpeg/bmp)</label>
        </form>
   
  </div>
</div>




 


</body>

</html>
