<!DOCTYPE html>
<html>
<head>
    <title>Webpage CamAIra</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body background = "../static/img/baru1.png">

  <ul>
    <li style="float:right"><a class="active btn"  href="{{ url_for('help') }}" >Help</a></li>
    <li style="float:right"><a class="active btn"  href="{{ url_for('about') }}"  >About</a></li>
    <li style="float:right"><a class="active btn" href="{{ url_for('home') }}" >Home</a></li>
    <div class = "gbr">
      <img src = "../static/img/camaira.jpg" alt ="camaira" width="25%" height="5%"> 
      </div>
  </ul>


<div class="row text-center">
<p class="lead "></p>
<div class="row">
		 <div id="image-container">
            	 <img class = "center" src=" {{url_for('send_image', filename=image_name)}} " style="width: 40%" height="40%">
           	 </div>
</div>


<p class="lead "></p>

<div class="row text-center">
    <div class="row">

	<form action="{{ url_for('predict_sr', filename=image_name)}}"method="POST" enctype="multipart/form-data">
        <form action="http://localhost:5000/predict_sr" method="POST">
	<button type="submit" class="text-align:center btn btn-lg btn-success">See the result </button>

    </div>    
</div>

</body>

</html>
