<!DOCTYPE html>
<html>
<head>
    <title>Fitur 1 Camaira</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body background = "../static/img/baru1.png">

 

<div class="row text-center">
<p class="lead "></p>
<div class="row">
		 <div id="image-container">
            	 <img class = "center" src=" {{url_for('send_image1', filename=image_name)}} " style="width: 50%" height="50%">
     </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class ="Choose">
<p class="lead "></p>
 This Image will be processed
</div>
</div>




</html>
</body>
